@import '../../../vars';

.container{
  padding: 32px;
  padding-top: 16px;

  & > .header{
    padding: 20px;
    background-color: $color-background-secondary;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .title{
      font-size: 1.8rem;
      font-weight: 700;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    & button{
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  & .details{
    margin-top: 32px;
    display: grid;
    grid-template-columns: calc(66.6% - 16px) calc(33.3% - 16px);
    gap: 32px;

    @media screen and (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
      
    }

    & > div{
      padding: 20px;
      background-color: $color-background-secondary;
      border-radius: 16px;
      height: fit-content;
    }

    & .title{
      font-size: 1.5rem;
      font-weight: 700;
    }

    & .user-info{
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      & .users{
        & .user{
          background-color: $color-background-tertiary;
          padding: 16px;
          border-radius: 8px;

          display: flex;
          align-items: center;
          gap: 8px;

          & i{
            font-size: 1.5rem;
            color: $color-text-accent-primary;
          }
        }
      }
    }

    & .server-info{
      display: flex;
      flex-direction: column;
      gap: 16px;

      & .content-panel{
        background-color: $color-background-tertiary;
        padding: 16px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & .info{
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 8px;

          & .code{
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.game-banner{
  padding: 8px;
  border-radius: 8px;
  background-color: $color-background-tertiary;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  font-weight: bold;

  & img{
    max-width: 60px;
    border-radius: 8px;
  }
}