@import '../../../vars';

.container{
  padding: 32px;
  padding-bottom: 16px;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-background-secondary;
    padding: 16px;
    border-radius: 16px;
  
    & .brand{
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-text-primary;
      display: flex;
      gap: 16px;
      align-items: center;
      
      &:hover{
        cursor: pointer;
      }
      
      & img{
        max-width: 70px;
        border-radius: 16px;
      }
    }
  }
}