
// Colors
$color-background-primary: #090c0f;
$color-background-secondary: #0d1117;
$color-background-tertiary: #161b22;

$color-text-primary: #ffffff;
$color-text-accent-primary: #007bff;
$color-text-accent-secondary: #f8b842;
$color-text-disabled: #565860;