
// Colors
$color-background-primary: #090c0f;
$color-background-secondary: #10151c;
$color-background-tertiary: #1a2028;

$color-text-primary: #ffffff;
$color-text-accent-primary: #007bff;
$color-text-accent-secondary: #f8b842;
$color-text-disabled: #565860;

$color-button: $color-text-accent-primary;
$color-button-red: #bf4646;
$color-button-disabled: $color-background-primary;

// Breakpoints
$breakpoint-sm: 732px;