/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: $color-background-primary;
  color: $color-text-primary;
}

a{
  color: $color-text-accent-primary;
}

input[type="text"], input[type="password"]{
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: $color-background-tertiary;
  padding: 8px;
  border-radius: 4px;
}


button{
  all: unset;
  box-sizing: border-box;

  display: block;
  padding: 8px;
  border-radius: 4px;
  background-color: $color-button;

  transition: background-color 0.3s ease;

  &.red{
    background-color: $color-button-red;
  }

  &:not(:disabled){
    &:hover{
      cursor: pointer;
    }
  }
  &:disabled{
    background-color: $color-button-disabled;
    color: $color-text-disabled;

    &:hover{
      cursor: not-allowed;
    }
  }
}

.code{
  background-color: $color-background-secondary;
  padding: 4px;
  border-radius: 4px;
  font-family: monospace;
  line-height: 25px;
}

.spinner-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.6);
  opacity: 0;
  animation: 600ms fadeIn forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
