.console-wrapper{
  padding: 8px;
  border-radius: 8px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;

  & .header{
    border-bottom: 1px solid white;
    padding-bottom: 4px;
  }

  & .content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;

    & .console-output{
      flex-grow: 1;
      padding: 0 4px;
      font-family: monospace;
      font-size: 0.8rem;

      overflow-y: scroll;
    }
  }
}